http://solo.mufengs.com
{
  header / {
    Strict-Transport-Security "max-age=31536000;"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
  }
  redir https://blog.mufengs.com{url}
}
https://solo.mufengs.com
{
  header / {
    Strict-Transport-Security "max-age=31536000;"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
  }
  gzip  
  log /root/www/access.log 
  errors  /root/www/error.log

  tls {
      dns cloudflare
  }
	proxy / http://172.17.0.1:8080 {  
		header_upstream Host {host}
    header_upstream X-Real-IP {remote}
    header_upstream X-Forwarded-For {remote}
    header_upstream X-Forwarded-Proto {scheme}
	}
}